:root{
    /* Fonts */
    --primary-fonts:Roboto;
    --secondary-fonts:Raleway;
    /* Text colors */
    --primary-txt-cl: #2E2F42;
    --secondary-txt-cl:#434455;
    --accent-txt-cl:#4D5AE5;
    /* BG colors */
     --primary-bg-cl: #FFFFFF;
     --accent-bg-cl:#4D5AE5;
     /* Others */
     
}
/* Studio */
body {
font-family: "Roboto", sans-serif;
font-size: 16px;
line-height: calc(24 / 16);
Letter-spacing: 0.02em;
color: var(--primary-txt-cl);

}

/* reset style */
.link {
    text-decoration: none;
   
}
.list{
    list-style-type: none;

}
.container {
    width: 1158px;
    height: 72px;
    padding: 0px auto;
    margin: 0 auto;
}
*::before,
*::after {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    img display: block;
}
l {
    margin-bottom: 0;
    margin-top: 0;
    padding-left: 0;
}

img {
    display: block;
}



.header {
    display: block;
    border-bottom: 1px solid#E7E9FC;
    margin-bottom: 10px ;

    
}

.header-logo {
    margin-right: 76px;
font-family: "Raleway";
text-transform: uppercase;
font-weight: 800;
font-size: 18px;
line-height: calc(24 / 18);
color: var(--accent-txt-cl);
}
.header-container {
    display: flex;
    align-items: center;
    
}



.colortext-logo {
color: black;
}

.nav-header{
    margin-right: auto
   
    
    
}

.header-list {
display: flex;
align-items: center;
 gap: 40px;
margin-top: 24px;
margin-bottom: 24px;

}

    

.header-item {}

.header-link {
font-weight: 500;
color: var(--primary-txt-cl);

}

.header-link:hover,
.header-limk:focus {
    color:var(--accent-txt-cl)
}


.header-mail{
color: var(--primary-txt-cl);
}
.header-mail:hover,
.header-mail:focus {
color: var(--accent-txt-cl); 
}

.header-contact {
color: var(--primary-txt-cl);
}
.header-contact:hover,
.header-contact:focus {
 color: var(--accent-txt-cl);
}

.main {

}

.hero {
padding: 188px 0;
text-align: center;
background-color: #2E2F42;
}

.hero-title {
margin: auto;
padding-bottom: 48px;
font-weight: 700;
font-size: 56px;
line-height: calc(60 / 56);
    color: #FFFFFF;

}

.hero-button {
    font-family: "Roboto";
    font-weight: 500;
    font-size: 16px;
    line-height: calc(24 / 16);
    Letter-spacing: 0.04em;
    color: white;
    background: #4D5AE5;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    min-width: 169px;
    min-height: 56px;
    align-items: center;
    
    
    }
    .hero-button:hover,
    .hero-button:focus {
     background-color: #404BBF;
    
    }

.feature {
    
}

.feature-list {
display: flex;
gap: 24px;
margin-top: 116px;
;
}

.feature-item {
    
    
    
}

.strategy-title {
font-weight: 500;
font-size: 20px;
line-height: calc(24 / 20);
color: var(--primary-txt-cl);
margin-bottom: 8px;


}
.strategy-text {
   
color: var(--secondary-txt-cl);

}
.punctuality-title {
    margin-bottom: 8px;
  font-weight: 500;
font-size: 20px;
line-height: calc(24 / 20);
color: var(--primary-txt-cl);

}  
.punctuality-text {
   
color: var(--secondary-txt-cl);

}

.diligence-title {
    margin-bottom: 8px;
  font-weight: 500;
font-size: 20px;
line-height: calc(24 / 20);
color: var(--primary-txt-cl);
}  
.diligence-text {
  
color: var(--secondary-txt-cl);


}

.technologies-title {
margin-bottom: 8px;
font-weight: 500;
font-size: 20px;
line-height: calc(24 / 20);
color: var(--primary-txt-cl);
}
.technologies-text {
    margin-top: 8px;
color: var(--secondary-txt-cl);

}

.wawd-title {
font-weight: 700;
font-size: 36px;
line-height: calc(40 / 36);
text-align: center;
margin-top: 125px;



color: var(--primary-txt-cl);
}

.wawd-list {
display: flex;
column-gap: 24px;





}

.wawd-item {
    
    
   

   
    
}

.our-team {

}

.our-team-title {
font-weight: 700;
font-size: 36px;
line-height: calc(40 / 36);
color: var(--primary-txt-cl);



}


.team-list {

}

.team-item {
    margin: auto;
        margin: 32px 8px;
}

.team-name {
font-weight: 500;
Font-size: 20px;
line-height: calc(24 /20);
color:var(--primary-txt-cl);
}

.team-job {
color: var(--secondary-txt-cl);

}
.footer {
background-color: #2E2F42;
}
.footer-logo-link {
font-family: "Raleway";
text-transform: uppercase;
font-weight: 800;
font-size: 18px;
line-height: calc(21 / 18);
color: #4D5AE5;
}

.colortext-footer {
color: white;
}


.footer-text {
font-family: "Roboto";
color: #E7E9FC;
}





/* Portfolio */

/* Header */
.header {

}

.header-logo {

}

.colortext-logo {
   
}

.header-nav {

}

.header-link {
font-weight: 500;


}


.header-contact {}

.header-mail {}


/* Filters */
.filters-list {}

.filters-item {}

.filters-button {
font-family: "Roboto";
font-weight: 500;
font-size: 16px;
line-height: calc(24 / 16);
Letter-spacing: 0.04em;
color: var(--accent-txt-cl);
background-color: #E7E9FC;
border: none;
cursor: pointer;
}
.filters-button:hover,
.filters-button:focus {
color: #FFFFFF;
background-color: var(--accent-bg-cl);
}


 

/* HERO */
.hero-portfolio{ 
    background-color: #FFFFFF;
}
    
.row-list 



.row-item {

}

.row-img {

}

.row-uppertitle {
font-weight: 500 ;
font-size: 20px ;
line-height: calc(24 / 20) ;
color: var(--primary-txt-cl) ;

}

.row-name {
color: var(--secondary-txt-cl) ;

}
/* Footer */
.footer {  }

.footer-logo-link {}
.colortext-footer {}


.footer-text { }


